header {
    background-image: url("../assets/heroHeader2.webp");
}

section.infoSection {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

section.infoSection div.textContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2vw;
}

section.infoSection div.textContainer h1.titleTextContainer {
    font-size: 4rem;
}

section.infoSection div.textContainer div.subTextContainer {
    display: flex;
    flex-direction: column;
}

section.infoSection div.textContainer div.subTextContainer p.subtitle {
    margin-top: 2%;
}

section.infoSection div.textContainer button.cta {
    width: fit-content;
}

section.infoSection div.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-image: url("../assets/me.webp");
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

section.infoSection div.imgContainer#school42Img {
    background-image: url("../assets/42SchoolImgRound.webp");
}

section.infoSection.reverse {
    flex-direction: row-reverse;
}

section#networks {
    width: 80vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

section#networks div.network {
    display: flex;
    justify-content: center;
}

section#networks div.network svg {
    fill: var(--color);
    width: 15%;
}

div#School42 {
    display: flex;
    width: 70vw;
    height: 30vh;
    margin: 5% auto;
    background-image: url("../assets/42angouleme.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}