header {
    background-image: url("../assets/heroHeader3.webp");
}

header div#heroContainer p.subtitle {
    width: 70%;
}

header div#heroContainer button.heroCTA {
    font-size: 90%;
}

section.infoSection {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

section.infoSection div.textContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2vw;
}

section.infoSection div.textContainer h1.titleTextContainer {
    font-size: 4rem;
}

section.infoSection div.textContainer div.subTextContainer {
    display: flex;
    flex-direction: column;
}

section.infoSection div.textContainer div.subTextContainer p.subtitle {
    margin-top: 2%;
}

section.infoSection div.textContainer button.cta {
    width: fit-content;
}

section.infoSection div.imgContainer {
    width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

section.infoSection.reverse {
    flex-direction: row-reverse;
}

h1#titleSectionPortfolios {
    width: 90vw;
    display: flex;
    margin: 4% auto 0;
    font-size: 4rem;
}

section#portfolios {
    width: 90vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

section#portfolios div#portfoliosWebsitesName {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 1vw;
}

div.portfolioEx {
    font-size: 3rem;
    color: var(--colorTer);
    letter-spacing: 1px;
    line-height: 1em;
    cursor: pointer;
    width: fit-content;
    background: linear-gradient(to left, #fff, #fff);
    background-position: 0% 100%;
    background-size: 0% 5%;
    background-repeat: no-repeat;
    transition: all 1500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.portfolioEx:hover {
    color: var(--color);
    background-size: 100% 5%;
}

div#portfoliosWebsiteImg {
    width: 45%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
div#imgWebsiteExample {
    min-width: 100%;
    min-height: 100%;
    background-image: url("../assets/portfolio/3.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div#transitionPortfolioImg {
    top: 0;
    left: 100%;
    width: 100%;
    height: 50vh;
    background-color: var(--color);
    position: absolute;
    z-index: 100;
    transition: all 750ms cubic-bezier(0.075, 0.82, 0.25, 1);
}

div#transitionPortfolioImg.hover {
    left: 0;
}

button.portfolioCTA {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

section#opinions {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    height: 55vh;
}

h1#titleOpinionSection {
    font-size: 4rem;
    text-align: center;
}

div.opinionsContainer {
    display: flex;
    width: 95vw;
    margin: 15vh auto;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
}

div.opinionsContainer.primaryContainer {
    animation: primary 15s linear infinite;
}

div.opinionsContainer.secondaryContainer {
    animation: secondary 15s linear infinite;
}

div.opinionsContainer div.opinion {
    display: flex;
    flex-direction: column;
    height: 40vh;
    min-width: 20vw;
    width: 20vw;
    max-width: 20vw;
    background-color: var(--tertiary);
    padding: 1%;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--colorSec);
}

div.opinionsContainer div.opinion div.username {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

div.opinionsContainer div.opinion div.message {
    text-align: center;
    font-size: 110%;
}

div.opinionsContainer div.opinion div.note {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.opinionsContainer div.opinion div.note svg {
    fill: var(--colorSec);
}
div.opinionsContainer div.opinion div.note svg.yellow path {
    fill: rgb(255, 217, 0);
}

@keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes secondary {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }

main {
    padding-top: 0;
}

main section {
    z-index: 10;
}
main h1 {
    z-index: 10;
}

main button {
    z-index: 10;
}


main section:first-of-type {
    margin-top: 5vh;
}

div#containerBlobBlur {
    height: 200vh;
    position: absolute;
    width: 100vw;
    overflow: hidden;
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, #F6260B, #642894);
    animation: rotate 20s infinite;
    opacity: 0.8;
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }


  div.whiteSpace {
    width: 40%;
  }