:root { font-size: 16px }
@media (max-width: 500px) { :root { font-size: 14px } }

::selection {
  background: black;
  color: #f0f0f0;
}

nav.topNavBar {
  display: flex;
  width: 100vw;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  font-size: 120%;
}
ul.listNavItems {
  display: flex;
  list-style-type: none;
  justify-content: center;
  width: 80%;
}
li.navItem {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  border-bottom: solid 1px transparent;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

li.navItem:hover {
  border-bottom: solid 1px var(--color);
}

header {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin-top: -5%;
}

#h1 {
  font-size: 12rem;
  text-align: center;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('./res/backgroundH1.jpg');
  background-position: center center;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
  background: #f0f0f0;
}

ul {
  padding-left: 1rem;
  list-style: none;
}

li {
  /* flex-shrink: 0; */
  width: clamp(500px, 60vw, 800px);
  padding-right: 1rem;
}

header {height: 100vh}
footer {height: 50vh}

:any-link { color: #4e9815; }

.heroTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
}

.demo-wrapper {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
}

header.headerSec:not(.last) {
  padding-bottom: 1rem;
}

.demo-text .text {
  font-size: 200px;
  line-height: 1;
  font-weight: 900;
}
main {
  width: 100vw;
}
h2.sectionTitle{
  display: flex;
  font-size: 500%;
  font-weight: bold;
  margin-top: 10%;
  min-width: 100vw;
  margin-bottom: 10%;
}
section [class*="bg"] {
  height: 70vh;
  background-attachment: fixed;
  background-position: top;
  background-size: 100vw;
  background-repeat: no-repeat;
  color: transparent;
  user-select: none;
}

div.bg.bgText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140%;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--color);
  padding: 10%;
  gap: 10%;
}
div.bg.bgText button.ctaCoteau {
  background-color: var(--color);
  border: none;
  border-radius: 10px;
  padding: 1% 2%;
  font-size: 70%;
  color: var(--primary);
}
#bg1 {
  background-image: url('https://source.unsplash.com/random/1240x874?sig=54');
}
#bg3 {
  background-image: url('https://source.unsplash.com/random/1240x874?sig=171');
}
#bg5 {
  background-image: url('https://source.unsplash.com/random/1240x874?sig=95');
}